* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
    color: #eee;
}




/*navigation*/
li                                                      {list-style: none;}


a                                                       {color: #EEEEEE;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;}
    

.navbar                                                 {min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;}

.nav-menu                                               {display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 50px;}

.nav-link                                               {transition: 0.7s ease;}


.nav-link:hover                                         {color: #292928;}


.hamburger                                              {display: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;}


.bar                                                    {display: block;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #D6BA9C;}


.logo {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#commImg {
    width: 100%;
}

h1 {
    text-align: center;
    color: #446A71;
}

h2 {
    text-align: center;
    color: #446A71;
}

p {
    text-align: center;
    margin: 5px;
}

.button {
    display: flex;
    background-color: #546C5A;
    color: #fff;
    align-items: center;
    justify-content: center;

    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.button:hover {
    background-color: #355358;
    transition: ease 0.3s;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E2E2E;
}

#socials {
    width: 15%;
}

/* Media query for desktop */

@media(min-width: 720px) {
    #commImg {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .container {
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    h2 {
        margin-top: 20px;
    }

    .commDiscord {
        grid-column: 3 / 7;
    }

    .commInsta {
        grid-column: 7 / 11;
    }

    .commInsta p {
        margin-bottom: 37px;
    }

    .commEmail {
        grid-row: 2 / 4;
        grid-column: 4 / 10;
    }
}


/*MEDIA QUERY FOR MOBILE VERSION*/                                                      
@media(max-width:480px){
.hamburger{
display: block;
}
.hamburger.active .bar:nth-child(2){
opacity: 0;
}
.hamburger.active .bar:nth-child(1){
transform: translateY(7px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
transform: translateY(-7px) rotate(-45deg);
}


.nav-menu{
position: fixed;
right: -120%;
top: 120px;
gap: 0;
flex-direction: column;
background-color: #D6BA9C;
width: 100%;
text-align: center;
transition: 0.3s;
}

.nav-items{
margin: 16px 0;
}

.nav-menu.active{
right: 0;
}
a{
color: black;
text-decoration: none;
font-family: 'Open Sans', sans-serif;
font-size: 15px;}

.navbar{
min-height: 70px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 24px;}
    
    
body        {
padding-top: 15px;
padding-right: 5%;
padding-left: 5%;}
}

}
