* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
    color: #eee;
}

.logo {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#commImg {
    width: 100%;
}

h1 {
    text-align: center;
    color: #446A71;
}

h2 {
    text-align: center;
    color: #446A71;
}

p {
    text-align: center;
    margin: 5px;
}

.button {
    display: flex;
    background-color: #546C5A;
    color: #fff;
    align-items: center;
    justify-content: center;

    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.button:hover {
    background-color: #355358;
    transition: ease 0.3s;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E2E2E;
}

#socials {
    width: 15%;
}