* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #121212;
    color: #EEEEEE;
}

.logo {
    width: 40%;
    height: 30%;
    margin-left: 180px;
}

.placeholder {
    width: 390px;
    height: 201px;
    background-color: blue;
    stroke: 2px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

#learnMoreImg {
    width: 100%;
}

#faraosImg {
    width: 100%;
}

#warhammerImg {
    width: 100%;
}

.button {
    display: flex;
    background-color: #546C5A;
    color: #fff;
    align-items: center;
    justify-content: center;

    padding: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
}

.button:hover {
    background-color: #355358;
    transition: ease 0.3s;
}

.secTop {
    margin-top: 20px;
    text-align: center;
    
}

.secTop p {
    margin: 10px;
}

.secFaraos {
    text-align: center;
    
}

.secFaraos h3 {
    margin: 20px;
}

.secWarhammerShop {
    text-align: center;
}

.secWarhammerShop h3 {
    margin: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 146px;
    background-color: #2E2E2E;
}