body                                                    {background-color: #121212;
    padding-top: 15px;
    padding-right: 20%;
    padding-left: 20%;}


.logo                                                   {height: 80px;
    display:block;
    margin-left: auto;
    margin-right: auto;}



li                                                      {list-style: none;}


a                                                       {color: #EEEEEE;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;}
    

.navbar                                                 {min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;}

.nav-menu                                               {display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 50px;}

.nav-link                                               {transition: 0.7s ease;}


.nav-link:hover                                         {color: #292928;}


.hamburger                                              {display: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;}


.bar                                                    {display: block;
    width: 20px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #D6BA9C;}


#title                                                  {font-size: 30px;
    text-align: center;
    font-family: blackchancery;
    color: #D6BA9C;
    }


.text                                                   {font-family: 'Open Sans', sans-serif;
                                                            color: white;
                                                            text-align: center;}


#captions                                             {font-style: italic;}


.buttonrubrik                                           {font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 20px;
    background-color: #446A71;
    height: 50px;
    margin-right: 25%;
    margin-left: 25%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding: 10px;}


.buttonrubrik:hover                                      {background-color: #355358;
        transition: ease 0.3s;}            

footer                                                  {text-align: center;
    padding: 1em;}

#socials                                                {height: 25px;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;}

#image                                                     {display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;}


/*MEDIA QUERY FOR MOBILE VERSION*/                                                      
@media(max-width:480px){
.hamburger{
display: block;
}
.hamburger.active .bar:nth-child(2){
opacity: 0;
}
.hamburger.active .bar:nth-child(1){
transform: translateY(7px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
transform: translateY(-7px) rotate(-45deg);
}


.nav-menu{
position: fixed;
right: -120%;
top: 120px;
gap: 0;
flex-direction: column;
background-color: #D6BA9C;
width: 100%;
text-align: center;
transition: 0.3s;
}

.nav-items{
margin: 16px 0;
}

.nav-menu.active{
right: 0;
}
a{
color: black;
text-decoration: none;
font-family: 'Open Sans', sans-serif;
font-size: 15px;}

.navbar{
min-height: 70px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 24px;}



#title{font-size: 30px;
font-family: blackchancery;
color: #D6BA9C;
}


.buttonrubrik{font-family: 'Open Sans', sans-serif;
color: white;
background-color: #446A71;
margin: 0;
padding: 1em;
width: 100%;}



.buttonrubrik:hover{background-color: #355358;
transition: ease 0.3s;}



body        {
padding-top: 15px;
padding-right: 5%;
padding-left: 5%;}
}






@font-face               {font-family: blackchancery;
src: url(BLKCHCRY.TTF);}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');